@model SV18T1021214.Web.Models.CategoryPaginationResult

@{
    Layout = null;
}
<p>có tổng cộng <b>@Model.RowCount</b> nhân viên trong <b>@Model.PageCount</b> trang</p>

<div class="table-responsive" style="margin-top:10px">
    <table class="table table-bordered table-hover table-striped">
        <thead class="btn-primary">
            <tr>
                <th>Tên loại hàng</th>
                <th>Miêu tả</th>
                <th style="width:70px"></th>
            </tr>
        </thead>

        @foreach (var item in Model.Data)
        {
            <tbody>
            <td>@item.CategoryName</td>
            <td>@item.Description</td>
            <td>
                <a href="~/category/edit/@item.CategoryID" class="btn btn-xs btn-success">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="~/category/delete/@item.CategoryID" class="btn btn-xs btn-danger">
                    <i class="fa fa-remove"></i>
                </a>
            </td>
            </tbody>
        }
    </table>
</div>

<div style="text-align: center">
    <ul class="pagination">
        @for (int i = 1; i <= @Model.PageCount; i++)
        {
            if (i == @Model.Page)
            {
                <li class="active"><a>@i</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
            }

        }
    </ul>

