@model SV18T1021214.Web.Models.ShupplierPaginationResult
@{
    Layout = null;
}

<p>
    Có tổng cộng <b>@Model.RowCount</b> nhà cung cấp trên tổng số <b>@Model.PageCount</b> trang
</p>
<div class="table-responsive" style="margin-top:10px">
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <th>Tên nhà cung cấp</th>
        <th>Tên liên lạc</th>
        <th>Địa chỉ</th>
        <th>Quốc gia</th>
        <th>Mã bưu chính</th>
        <th>Thành phố</th>
        <th>Số điện thoại</th>
        <th style="width:80px"></th>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.SupplierName</td>
                    <td>@item.ContactName</td>
                    <td>@item.Address</td>
                    <td>@item.City</td>
                    <td>@item.PostalCode</td>
                    <td>@item.Country</td>
                    <td>@item.Phone</td>
                    <td class="text-right">
                        <a href="~/supplier/edit/@item.SupplierID" class="btn btn-xs btn-success">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/supplier/delete/@item.SupplierID" class="btn btn-xs btn-danger">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="text-center">

    <ul class="pagination">

        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a>@i</a></li>
            }
            else
            {
                <li><a  href="javascript:;" onclick="doSearch(@i)">@i</a></li>
            }

        }

    </ul>
</div>