@model  SV18T1021214.Web.Models.ProductPaginationSearchInput

@{
    ViewBag.Title = "Mặt hàng";
}

<div class="box box-primary">
    <div class="box-header with-border ">
    </div>
    <div class="box-body">
        <form id="searchInput" action="~/product/search">
            <div class="row">
                @Html.HiddenFor(m => m.PageSize)
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.CategoryID, SelectListHelper.Categories(), new { @class = "form-control" })
                </div>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.SupplierID, SelectListHelper.Suppliers(), new { @class = "form-control" })
                </div>       
              
                <div class="input-group">

                    <input type="text" name="searchValue" value="@Model.SearchValue"
                           class="form-control"
                           placeholder="Nhập tên mặt hàng cần tìm">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-flat btn-info">
                            <i class="fa fa-search"></i>
                        </button>
                        <a href="~/product/create"
                           class="btn btn-flat btn-primary"
                           style="margin-left:5px;">
                            <i class="fa fa-plus"></i> Bổ sung
                        </a>
                    </span>
                </div>
            </div>
        </form>

        <div id="searchResult">

        </div>

        @section scripts {
            <script src="~/Scripts/search.js"></script>
            <script>
        $(document).ready(function () {
            doSearch(@Model.Page);
            $("#searchInput").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return false;
            });
        } );
            </script>
        }
