@model  SV18T1021214.Web.Models.PaginationSearchInput

@{
    ViewBag.Title = "Mặt hàng";
}

<div class="box box-primary">
    <div class="box-header with-border ">
    </div>
    <div class="box-body">
        <form id="searchInput" action="~/product/search">
            <div class="row">
                <div class="col-sm-3">
                    <select class="form-control">
                        @foreach (var item in SelectListHelper.Categories())
                        {
                            <option value="@item.Value">@item.Text</option>

                        }
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control">
                        @foreach (var item in SelectListHelper.Suppliers())
                        {
                            <option value="@item.Value">@item.Text</option>

                        }
                    </select>
                </div>
                @*<div class="col-sm-3">
            @Html.DropDownListFor(m => m.categoryID, SelectListHelper.Categories(), new { @class = "form-control" })
        </div>
        <div class="col-sm-3">
            @Html.DropDownListFor(m => m.supplierID, SelectListHelper.Suppliers(), new { @class = "form-control" })
        </div>*@
                <div class="input-group">
                    @Html.HiddenFor(m => m.PageSize)
                    <input type="text" name="searchValue" value="@Model.SearchValue"
                           class="form-control"
                           placeholder="Nhập tên mặt hàng cần tìm">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-flat btn-info">
                            <i class="fa fa-search"></i>
                        </button>
                        <a href="~/product/create"
                           class="btn btn-flat btn-primary"
                           style="margin-left:5px;">
                            <i class="fa fa-plus"></i> Bổ sung
                        </a>
                    </span>
                </div>
            </div>
        </form>

        <div id="searchResult">

        </div>

        @section scripts {
            <script src="~/Scripts/search.js"></script>
            <script>
        $(document).ready(function () {
            doSearch(@Model.Page);
            $("#searchInput").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return false;
            });
        } );
            </script>
        }
