@model  SV18T1021214.Web.Models.EmployeePaginationResult

<form action="#" method="get">
    <div class="input-group">
        <input type="text" name="searchValue" class="form-control" placeholder="Search..." autofocus value="@Model.SearchValue">
        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-primary">
                <i class="fa fa-search"></i>
            </button>
            <a href="~/employee/create" class="btn btn-flat btn-primary" style="margin-left:5px">Bổ sung</a>
        </span>
    </div>
</form>

<p>có tổng cộng <b>@Model.RowCount</b> nhân viên trong <b>@Model.PageCount</b> trang</p>


<div class="table-responsive" style="margin-top:10px">
    <table class="table table-bordered table-hover table-striped">
        <thead class="btn-primary">
            <tr>
                <th>Tên nhân viên</th>
                <th>Họ tên đệm</th>
                <th>Ngày sinh</th>
                <th>Ảnh</th>
                <th>Ghi chú</th>
                <th>Email</th>
                <th style="width:70px"></th>
            </tr>
        </thead>
        @foreach (var item in Model.Data)
        {

            <tbody>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.BirthDate</td>
            <td> <img style="width:50px" src="@item.Photo" class="user-image" alt="User Image"></td>
            <td style="width:35%">@item.Notes</td>
            <td>@item.Email</td>
            <td>
                <a href="~/employee/edit/@item.EmployeeID" class="btn btn-xs btn-success">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="~/employee/delete/@item.EmployeeID" class="btn btn-xs btn-danger">
                    <i class="fa fa-remove"></i>
                </a>
            </td>
            </tbody>
        }



    </table>
</div>
<div style="text-align: center">
    <ul class="pagination">
        @for (int i = 1; i <= @Model.PageCount; i++)
        {
            if (i == @Model.Page)
            {
                <li class="active"><a>@i</a></li>
            }
            else
            {
                <li><a href="~/employee?page=@i&searchValue=@Model.SearchValue">@i</a></li>
            }

        }
    </ul>

</div>